# Configuración de la base de datos MySQL
MYSQL_DATABASE=ejemploLogin
MYSQL_USER=*
MYSQL_PASSWORD=*
MYSQL_ROOT_PASSWORD=*

# Configuración de la aplicación
SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/ejemploLogin
SPRING_DATASOURCE_USERNAME=*
SPRING_DATASOURCE_PASSWORD=*

# JWT
JWT_SECRET=*
JWT_EXPIRATION=86400000     #24 horas
